.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
	width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  max-width: 4.4rem;
}

.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}

.pagination__item {
	color: var(--dark-2);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 3.2rem;
	width: 3.2rem;
  font-size: 16px;
  line-height: 16px;
	padding: 0;
	text-decoration: none;
	background: var(--white);
	border-radius: 10px;
  box-shadow: var(--element-drop-shadow);
  opacity: 1 !important;
  transition: all ease .3s;
}

.pagination__item--current {
  background: var(--dark-3);
  color: var(--white) !important;
}

a.pagination__item:hover {
  color: var(--dark);
  transform: translateY(2px);
  box-shadow: none;
}

a.pagination__item:active {
  transform: translateY(2px);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
}

a.pagination__item:not([href]) {
	cursor: default;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--current::after {
  height: 0.1rem;
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}

