:root {
    --dark: #090909;
    --dark-1: #3C3C3C;
    --dark-2: #4d4d4d;
    --dark-3: #262626;
    --dark-4: #2F2F2F;
    --gray: #A9A9A9;
    --white-1: #F0F0F0;
    --white: #F8F8F8;
    --pastel-1: #E18668;
    --red: #EE6262;
    --pink: #EE9597;
    --blue: #1877F2;
    --brown: #935735;
    --yellow: #FECA2F;
    --green: #4EF613;
    --orange: #E77C40;

    --pastel-gradient: linear-gradient(257.52deg,rgba(242, 73, 19, 0.5) 12.99%,rgba(242, 73, 19, 0.35) 127.64%),#EAAE9B;

    --border-radius: 10px;
    --section-drop-shadow: 0px -1px 30px 8px rgba(0, 0, 0, 0.2);
    --element-drop-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    --button-drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

body {
    letter-spacing: 0.03em !important;
    color: var(--dark);
}

h1,h2,h3,h4,h5,div,p,button,.buy__button{
    text-shadow:0 2px 4px rgba(0,0,0,0.1)
}

.product__header,
.collection__header,
.template-search__header,
.cart-items__wrapper,
.cart-footer__wrapper {
    position: relative;
    padding: 16px 0;
    margin-top: 32px !important;
    margin-bottom: 24px !important;
}

.cart-footer__wrapper {
    margin-top: 0 !important;
}

.product__header::before,
.collection__header::before,
.template-search__header::before,
.cart-items__wrapper::before,
.cart-footer__wrapper:not(.cart-footer__wrapper.is-empty)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 97vw;
    height: 100%;

    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--section-drop-shadow);

    z-index: -1;
}

.container--product {
    position: relative;
    padding-bottom: 40px;
}

.row--product::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 97vw;
    height: 100%;

    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--section-drop-shadow);

    z-index: -2;
}

.product__header_title,
.collection__header_title {
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;

    margin: 8px 0;
}

.swiper-tab {
    padding: 0 !important;
    height: 100%;
}

.swiper-wrapper__tab {
    justify-content: flex-start;
}

.tab-slide {
    display: flex;
    flex-direction: row;
}

.tab-section {
    margin-top: 24px;
    display: none;
}

.tab-section--active {
    display: block !important;
}

.tab-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}

.tab-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 97vw;
    height: 100%;

    background: var(--white-1);
    border-radius: var(--border-radius);
    box-shadow: var(--element-drop-shadow);

    z-index: -1;
}

.button-tab {
    position: relative;
    padding: 0 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-2);
    height: 100%;
    border-radius: 0;
    border: none;
    transition: all ease .2s;
}

.button-tab:not(button-tab:last-child) {
    margin-right: 16px;
}

.button-tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    background-color: var(--dark-2);

    transition: all ease .2s;
}

.button-tab:hover {
    color: var(--dark-2);
    border-color: rgba(0, 0, 0, 0);
}

.button-tab:hover::after {
    transform: scaleX(1);
}

.button-tab:active {
    color: var(--dark-2);
    border-color: rgba(0, 0, 0, 0);
}

.button-tab:focus {
    color: var(--dark-2);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none !important;
}

.button-tab--active {
    color: var(--pastel-1) !important;
}

.button-tab--active::after {
    background-color: var(--pastel-1);
    left: 50%;
    transform: scaleX(1) translate(-50%) !important;
}

.button-tab--active:hover {
    color: var(--pastel-1) !important;
}

.button-tab--active:hover::after {
    width: 110%;
}

.product_order-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    /* height: 100%; */
    padding: 16px;
    z-index: 4;

    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--element-drop-shadow);
}

.product-order-image {
    max-width: 100%;
    margin-bottom: 4px;
    border-radius: var(--border-radius);
    box-shadow: var(--element-drop-shadow);
    transition: all ease .2s;
}

.product-order-image:hover {
    transform: translateY(2px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.product-order-image > img {
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
}

.product-order-title {
    margin-bottom: 8px;
}

.product-order-title > span {
    color: var(--dark);
    font-size: 24px;
    margin-left: 4px;
}

.variant-selector {
    display: flex;
    flex-direction: column;
}

.variant-selector_title {
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-1);

    margin-bottom: 8px;
}

.variant-selector_title span {
    color: var(--dark);
}

.variant-selector--option {
    display: inline-block;
    margin-right: 8px;
}

.variant-selector--input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.variant-selector--red::before {
    background-color: var(--red) !important;
}

.variant-selector--pink::before {
    background-color: var(--pink) !important;
}

.variant-selector--brown::before {
    background-color: var(--brown) !important;
}
.variant-selector--blue::before {
    background-color: var(--blue) !important;
}

.variant-selector--yellow::before {
    background-color: var(--yellow) !important;
}

.variant-selector--dark::before,
.variant-selector--black::before {
    background-color: var(--dark) !important;
}

.variant-selector--white::before,
.variant-selector--light::before {
    background-color: var(--white-1) !important;
}

/* для элемента label связанного с .variant-selector--option */
.variant-selector--option>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.variant-selector--option>span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    /* border: 1px solid var(--gray); */
    border-radius: 5px;
    transition: box-shadow, opacity, transform .2s;
    opacity: 0.8;

    background-color: var(--white-1);
}

/* стили при наведении курсора на радио */
.variant-selector--option>input:not(:disabled):not(:checked)+span:hover::before {
    border: 1px solid var(--gray);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

/* стили при наведении курсора на радио */
.variant-selector--option>input:not(:disabled):not(:checked):active+span:hover::before {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), inset 1px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
}

/* стили для активной радиокнопки (при нажатии на неё) */
.variant-selector--option>input:not(:disabled):active+span::before {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), inset 1px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
}

/* стили для радиокнопки, находящейся в фокусе */
.variant-selector--option>input:focus+span::before {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.variant-selector--option>input:focus:not(:checked)+span::before {
    border: 2px solid var(--gray);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.variant-selector--option>input:checked+span::before {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 1;
    transform: translateY(-1px);
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.variant-selector--option>input:disabled+span::before {
    border: 1px dashed var(--gray);
    cursor: default;
    opacity: 0.5;
}

.variant-selector--popover {
    --bs-popover-border-color: rgba(255, 255, 255, 0.3);
    --bs-popover-border-radius: var(--border-radius);
    --bs-popover-body-padding-x: 8px;
    --bs-popover-body-padding-y: 4px;
    --bs-popover-font-size: 12px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    box-shadow: var(--element-drop-shadow);
}

.favorite__button--product-order {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute !important;
    top: 32px;
    right: 32px;
    padding: 0 !important;
    z-index: 6;
}

.product-form__buttons {
    margin-bottom: 13px;
}

.button-homemaid {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: var(--pastel-gradient);
    border-radius: 15px;
    padding: 11px 18px;
    box-shadow: var(--button-drop-shadow);

    font-size: 16px;
    line-height: 22px;
    color: var(--white);

    transition: all ease-out 0.2s;
}

.button-homemaid:hover {
    box-shadow: none !important;
    color: var(--white);
    background: var(--pastel-gradient);
    border-color: rgba(0, 0, 0, 0);
    transform: translateY(2px);
}

.button-homemaid:active {
    box-shadow: inset 1px 2px 0px rgba(0, 0, 0, 0.2) !important;
    color: var(--white);
    background: var(--pastel-gradient);
    border-color: rgba(0, 0, 0, 0);
}

.button-homemaid:focus {
    box-shadow: var(--button-drop-shadow);
    color: var(--white);
    background: var(--pastel-gradient);
    border-color: rgba(0, 0, 0, 0);
}

.button--cropped {
    position: relative;
    background: none !important;
    box-shadow: none !important;
}

.button--cropped::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: var(--pastel-gradient);
    border-radius: 15px;
    box-shadow: var(--button-drop-shadow);
    transition: all ease-out 0.2s;
    z-index: -1;
}

.button--cropped:hover {
    transform: translateY(0) !important;
}

.button--cropped:hover::before {
    width: 100%;
}

.button--cropped:active::before {
    width: 100%;
    box-shadow: var(--button-drop-shadow);
}

.btn--pink {
    background: var(--pink);
}

.btn--pink:hover {
    background: var(--pink);
}

.btn--pink:active, .btn--pink:focus {
    background: var(--pink);
}

.btn--dark {
    background: var(--dark-3);
}

.btn--dark:hover {
    background: var(--dark-3);
}

.btn--dark:active, .btn--dark:focus {
    background: var(--dark-3);
}

.btn--arrow-next {
    width: 24px;
    height: 22px;
    margin-left: 8px;
}

.btn:disabled {
    background: var(--dark-1);
    border-color: var(--dark-1);
    color: var(--gray);
}

.button-homemaid__icon {
    margin-right: 10px;
}

.link-homemaid {
    position: relative;
    text-decoration: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.link-homemaid::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background: var(--dark);
    transform: scaleX(0);
    transition: transform .3s;
}

.link-homemaid:hover::after {
    transform: scaleX(1);
}

.loading-overlay__spinner {
    display: inline-flex !important;
    margin-left: 8px;
}

.btn-circle {
    stroke: var(--white) !important;
    margin-left: 5px;
}

.product-price {
    font-size: 36px;
    line-height: 49px;

    margin-bottom: 8px;
}

.selling-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16px;
    margin-bottom: 32px;
}

.selling-info > .selling-info__card:not(.selling-info__card:last-child) {
    margin-bottom: 16px;
}

.selling-info__card {
    padding: 8px 10px;
    background-color: var(--white-1);
    box-shadow: var(--element-drop-shadow);
    border-radius: var(--border-radius);

    transition: all ease .2s;
}

.selling-info__card:hover {
    transform: translateY(-3px);
}

.card-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 2px;
}

.card-text {
    font-size: 16px;
    line-height: 16px;
    color: var(--dark);
}

.product-reviews__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-reviews__title {
    font-size: 32px;
    line-height: 33px;
    margin: 0;
}

.product-reviews__title > span {
    font-size: 16px;
    line-height: 22px;
    color: var(--gray);
}

.product-reviews__reviews-block {
    margin-top: 16px;
}

.product-reviews__button {
    margin-top: 16px;
}

.reviews-card {
    background: var(--white);
    box-shadow: var(--element-drop-shadow);
    border-radius: var(--border-radius);
    padding: 16px;
}

.reviews-card:not(.reviews-card:last-child) {
    margin-bottom: 16px;
}

.review-text {
    color: var(--dark);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.review-text--title {
    margin-top: 16px;
    color: #1C1C1C;
    font-weight: 600;
    font-size: 14px;
}

.review-text--title ~ p {
    margin-top: 2px;
    margin-left: 4px;
}

.review-rating {
    margin-top: 16px;
}

.review-customer {
   margin-top: 8px;
   color: var(--dark-1);
   font-size: 14px;
   line-height: 16px;
}

.product-description__title {
    color: var(--dark);
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 8px;
}

.product-description__title > span {
    color: var(--gray);
}

.product-description__body {
    padding-top: 8px;
}

.product-description__body > p {
    color: var(--dark);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
}

.product-сharacteristics {
    margin-top: 32px;
}

.product-сharacteristics__title {
    color: var(--dark);
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 8px;
}

.product-сharacteristics__title > span {
    color: var(--gray);
}

.product-сharacteristics__body {
    border-radius: var(--border-radius);
    background-color: var(--white);
    box-shadow: var(--element-drop-shadow);
    width: 100%;
    padding: 16px;
}

.characteristics {
    margin: 0;
}

.characteristics__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 16px;
    transition: all ease .1s;
}

.characteristics__wrapper:not(.characteristics__wrapper:last-child) {
    margin-bottom: 12px;
}

.characteristics__wrapper::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 102%;
	height: 120%;
	background-color: var(--white-1);
	box-shadow: var(--element-drop-shadow);
	border-radius: var(--border-radius);
	transition: all ease .1s;
	z-index: 0;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%);
}

.characteristics__wrapper:hover::before {
    opacity: 1;
}

.characteristics__wrapper:hover {
    transform: translateY(-3px);
}

.characteristics__wrapper:hover .characteristics-key > span {
    background-color: var(--white-1);
    transition: all ease .1s;
}

.characteristics__wrapper:hover .characteristics-key::before {
    border-bottom: 1px solid var(--pastel-1);
}

.characteristics-key::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    border-bottom: 1px solid var(--gray);
    opacity: 0.5;
}

.characteristics-key > span, .characteristics-value > span {
    color: var(--dark);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    z-index: 1;
}

.characteristics-key {
    display: block;
    position: relative;
    align-self: flex-start;
    width: 50%;
}

.characteristics-key > span {
    position: relative;
    display: inline-block;
    padding-right: 8px;
    background-color: var(--white);
}

.characteristics-value {
    display: block;
    width: 50%;
    padding-left: 8px;
}

.characteristics-key, .characteristics-value {
    position: relative;
}

.product-gallery__block {
    margin-top: 16px;
}

.gallery-image__wrapper:not(.gallery-image__wrapper:last-child) {
    margin-bottom: 16px !important;
}

.gallery-image {
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
}

.zoom-container {
    z-index: 50;
}

.img-zoom {
    width: 100% !important;
    height: max-content !important;
}

.js-image-zoom__zoomed-image {
    border-radius: var(--border-radius);
    top: 0 !important;
    transform: translate3d(-50%, 0%, 0px) !important;
}

.js-image-zoom__zoomed-area {
    border-radius: var(--border-radius);
}

/* Breadcrumbs */

.breadcrumb {
    align-items: center;
}

.breadcrumbs__home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumbs__link--wrapper {
    position: relative;
    display: block;
}

.breadcrumbs__link {
    display: inline-block;
    position: relative;

    color: var(--dark);

    font-size: 16px;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    color: var(--dark);
}

.breadcrumbs__link:focus-visible {
    outline: none;
    box-shadow: 0 0 .5rem .4rem rgba(9, 9, 9,.1);
    border-radius: var(--border-radius);
}

.breadcrumbs__link:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FECA2F;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.breadcrumbs__link:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.breadcrumbs__home--icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 24px;
}

.breadcrumbs__arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    margin: 0 8px;
}

.product__show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

/* Breadcrumbs */

.product-stock_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 16px;
}

.product-stock {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 16px;
}

.divider {
    content: "";
    display: block !important;
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    margin: 16px 0;
    opacity: 0.5;
}

.btn:focus-visible {
    outline: none !important;
    box-shadow: none;
}

.product-stock--icon {
    display: flex;
    align-items: center;

    height: 12px;
    margin-left: 4px;
    transition: all .2s;
}

.product-stock--available {
    color: var(--pastel-1);
}

.product-stock--sold-out {
    color: var(--red);
}

/* Header */

.shopify-section-header-sticky .header-wrapper-homemaid {
    border-radius: 0px 0px 10px 10px;
}

.header-wrapper-homemaid {
    width: 100%;
	background: var(--white) !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all ease .2s;
}

.header-homemaid {
    padding: 14px 0 !important;
    grid-template-columns: 1fr auto 1fr !important;
}

.header__menu-item--homemaid {
    color: var(--dark) !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 26px !important;
    text-decoration: none !important;
    padding: 0 !important;
}

.header__menu-item--homemaid span {
    position: relative;
    text-decoration: none !important;
    z-index: 1;
}

.header__menu-item--homemaid span:hover {
    text-decoration: none !important;
}

.header-link {
    position: relative;
}

.header-link:not(.header-link:last-child) {
    margin-right: 24px;
}

.header-link::before {
    content: "";
	position: absolute;
	width: calc(100% + 24px);
	height: calc(100% + 8px);
	bottom: -4px;
	left: 50%;
    transform: translate(-50%);
	background-color: var(--white-1);
    border-radius: var(--border-radius);
    box-shadow: var(--element-drop-shadow);
    opacity: 0;
	transition: all ease .3s;
    z-index: 0;
}

.header-link:hover::before {
    opacity: 1;
}

.search__button .icon {
	height: 2rem !important;
	width: 2rem !important;
}

.search-modal-homemaid {
    position: relative;
    background: var(--white-1) !important;
    border-radius: 0 0 10px 10px;
}

details[open] .search-modal-homemaid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white-1) !important;
    border-radius: 0 0 10px 10px;
    z-index: 2;
}

details[open] .modal-overlay::after {
	top: 0 !important;
	z-index: 1;
    backdrop-filter: blur(5px);
}

.search-modal__content-bottom {
    z-index: 5;
}

.field-homemaid input {
    transition: all .3s;
    border-radius: 6px;
}

.field-homemaid input:focus-visible {
    outline: none !important;
}

.field-homemaid input:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.field-homemaid input:focus {
    box-shadow: var(--element-drop-shadow);
    border-radius: var(--border-radius);
}

.field__button {
    margin-right: 6px;
}

.predictive-search--header {
    border-radius: var(--border-radius) !important;
    box-shadow: var(--element-drop-shadow) !important;
    top: calc(100% + 8px) !important;
}

.predictive-search__heading {
    font-family: 'Open Sans', sans-serif !important;
    color: var(--dark) !important;
    text-transform: none !important;
    font-size: 12px !important;
}

.predictive-search__list-item {
    position: relative;
}

.predictive-search__list-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--yellow);
    transform: scaleY(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}

.predictive-search__list-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: var(--yellow);
    transform: scaleY(0);
    transform-origin: top right;

    transition: transform 0.3s;
}

.predictive-search__list-item:hover::after,
.predictive-search__list-item:hover::before {
    transform: scaleY(1);
}

.predictive-search__list-item[aria-selected="true"] > *, .predictive-search__list-item:hover > * {
	color: rgb(var(--color-foreground));
	background-color: rgba(169, 169, 169, 0.05) !important;
}

.predictive-search__image {
    border-radius: 5px;
}

.predictive-search__item-heading {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
}

.predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading, .predictive-search__list-item:hover .predictive-search__item-heading {
	text-decoration: none !important;
}

.cart-count-bubble {
	background-color: var(--dark) !important;
	color: var(--white) !important;
}

.cart-count-bubble::after,
.cart-count-bubble::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.cart-count-bubble::after {
    background-color: var(--yellow);
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .2s;
}

.cart-count-bubble::before {
    background-color: var(--dark);
    top: 0;
    left: 0;
    z-index: 2;
}

.cart-count-bubble span {
    z-index: 3;
}

#cart-icon-bubble:hover .cart-count-bubble::after {
    top: 2px;
    left: 2px;
}

.cart-notification {
    border-radius: 0 0 10px 10px !important;
    background: var(--white-1) !important;
    box-shadow: var(--element-drop-shadow) !important;
    position: relative;
}

.cart-notification::before {
    content: '';
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white-1);
    z-index: -1;
}

.cart-notification__links > * {
	margin-top: 12px !important;
}

.cart-notification__links > .link {
	margin-top: 16px !important;
}

.cart-notification__heading {
    font-size: 14px !important;
}

.cart-notification__heading span {
    margin-left: 4px;
}

.cart-notification-product__image,
.cart-notification-product__image img {
    border-radius: 10px !important;
    margin-top: 0 !important;
}

.cart-notification-product {
    position: relative;
    padding: 0 !important;
    margin: 2rem 0 !important;
}

.cart-notification-product::before {
    content: '';
    position: absolute;
    width: calc(100% + 24px);
    height: calc(100% + 16px);
    left: 50%;
    top: -8px;
    transform: translate(-50%);
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--element-drop-shadow);
    z-index: -1;
}

.product-option {
    color: var(--dark) !important;
}

#menu-drawer, .menu-drawer__submenu {
    background: var(--white-1) !important;
}

.header__icon--menu[aria-expanded="true"]::before {
	top: 0 !important;
	height: 100vh !important;
    backdrop-filter: blur(5px);
    z-index: -2;
}

.menu-drawer-container .header__icon--menu::after {
    content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	background: var(--white);
    border-radius: 0 0 10px 0;
    z-index: -1;
    transition: transform var(--duration-default) ease,visibility var(--duration-default) ease;
    transform: translate(-100%);
}

.header__icon--menu[aria-expanded="true"]::after {
    transform: translate(0);
}

.header__menu-item .icon-caret {
	right: -1.6rem !important;
}

summary.header__menu-item--homemaid {
    margin-right: 1.6rem !important;
}

.header__submenu {
    background: var(--white-1) !important;
	border-radius: 0 0 10px 10px !important;
	border: none !important;
	padding: 12px !important;
    box-shadow: var(--element-drop-shadow) !important;
    margin-top: 23px !important;
    z-index: -1 !important;
}

.subheader__menu-item--homemaid {
    color: var(--dark) !important;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 26px !important;
	text-decoration: none !important;
	padding: 8px !important;
    transition: all ease .2s;
}

.subheader__menu-item--homemaid:hover {
    border-radius: 10px;
    background: var(--white);
    box-shadow: var(--element-drop-shadow);
}

.menu-drawer__close-button {
    font-size: 16px !important;
    position: relative;
}

.menu-drawer__close-button:hover,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:focus,
.menu-drawer__menu-item:hover {
    background-color: transparent !important;
}

.menu-drawer__close-button svg {
    margin-right: 8px;
    transform: rotate(0.5turn);
}

.menu-drawer__menu-item {
    position: relative;
    margin-top: 8px;
}

.menu-drawer__menu-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 95%;
    height: 100%;
    transform: translate(-50%);
    background: hsla(0, 0%, 97%, 0.5);
    box-shadow: var(--element-drop-shadow);
    border-radius: var(--border-radius);
    opacity: 0;
    z-index: -1;
}

.menu-drawer__menu-item:focus::before,
.menu-drawer__menu-item:hover::before {
    opacity: 1;
}

.menu-drawer__menu-item svg {
    margin-left: 8px;
}

.menu-drawer__close-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 95%;
    height: 100%;
    transform: translate(-50%);
    background: var(--white);
    box-shadow: var(--element-drop-shadow);
    border-radius: var(--border-radius);
    z-index: -1;
}

/* Header */

/* Footer */

footer {
    background: var(--dark-4) !important;
    border-radius: 10px 10px 0 0;
    color: var(--white) !important;
    padding-top: 16px;
    margin-top: 32px !important;
}

.footer__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
}

.company-logo {
    text-decoration: none;
    background: var(--dark-4);
    padding: 0 16px;
    z-index: 2;
}

.footer__logo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--pastel-1);
    top: 50%;
    left: 0;
    z-index: 1;
}

.company-logo h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: var(--pastel-1);
}

.footer__content-top {
    padding: 0 !important;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 32px;
}

.footer-block--contacts {
    min-width: max-content;
}

.footer__list-social {
    display: inline-flex !important;
    margin: 16px 0 !important;
}

.footer-block__heading,
.footer-block__details-content li a,
.footer__email-link {
    color: var(--white) !important;
}

.footer-block__heading {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 16px !important;
    opacity: 0.8;

    margin-bottom: 20px !important;
}

.footer-block__details-content li {
    margin-bottom: 3px !important;
}

.footer-block__details-content li a,
.footer__email-link {
    display: inline-block !important;
    position: relative;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 16px !important;
    padding: 0 !important;
    z-index: 1;
    transition: transform ease .3s;
}

.footer-block__details-content .list-menu__item--link,
.footer__email-link {
    text-decoration: none !important;
}

.footer-block__details-content .list-menu__item--link:hover,
.footer__email-link:hover {
	color: var(--white) !important;
	text-decoration: none !important;
    transform: translateY(-2px);
}

.footer-block__details-content .list-menu__item--link::after,
.footer__email-link::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    width: calc(100% + 32px);
    height: calc(100% + 16px);
    transform: translate(-50%);
    background: var(--dark-3);
    border-radius: var(--border-radius);
    box-shadow: var(--element-drop-shadow);
    z-index: -1;
    opacity: 0;
    transition: opacity ease .3s;
}

.footer-block__details-content .list-menu__item--link:hover::after,
.footer__email-link:hover::after {
    opacity: 1;
}

.footer__email-link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px !important;
}

.footer__phone-number-list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

.footer__phone-number-list li:not(.footer__phone-number-list li:last-child) {
    margin-right: 8px;
}

.phone-number {
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    padding: 8px;
    background: var(--pastel-1);
    border-radius: var(--border-radius);
    box-shadow: var(--button-drop-shadow);
    transition: all ease .3s;
}

.phone-number:hover {
    transform: translateY(2px);
    box-shadow: none;
    color: var(--white);
}

.list-social {
	justify-content: flex-start !important;
}

.list-social__link {
	padding: 0 !important;
}

.list-social__item {
    transition: transform ease .2s;
}

.list-social__item:hover {
    transform: translateY(-2px);
}

.list-social__item:not(.list-social__item:last-child) {
	margin-right: 24px !important;
}

.footer-block__details-content p {
    margin: 0 !important;
    line-height: 28px !important;
}

.footer__content-bottom {
    position: relative;
    padding-top: 0 !important;
    margin-top: 64px;
    border: none !important;
}

.footer__content-bottom::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 80vw;
    min-width: 100%;
	height: 100%;
	background: var(--dark-3);
	z-index: 1;
	transform: translate(-50%);
	border-radius: 10px 10px 0 0;
}

.footer__content-bottom-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 2;
}

.footer__copyright {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.footer__copyright::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--pastel-1);
}

.footer__copyright small {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 22px !important;
}

.footer__copyright small:last-child {
    margin-left: 8px;
}

.footer__copyright small a:hover {
    color: var(--gray) !important;
}

.footer-actions {
    margin-top: 24px;
}

.footer-actions__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.footer-actions__wrapper > div {
    margin: 0 !important;
    width: max-content !important;
}

.newsletter-form__field-wrapper {
    box-shadow: var(--button-drop-shadow) !important;
}

.field__button > svg {
	height: 16px !important;
    width: 16px !important;
}

#FooterLanguageLabel,
#FooterCountryLabel {
    color: currentColor !important;
    text-align: center;
}

.localization-form {
    margin: 0 !important;
    padding: 0 !important;
}

.localization-form__select {
    margin-bottom: 0 !important;
}

.disclosure__button {
    height: 45px !important;
    font-size: 14px !important;
}

.disclosure__button,
.disclosure__list-wrapper {
    border-radius: var(--border-radius) !important;
    background: var(--white) !important;
    box-shadow: var(--button-drop-shadow) !important;
}

.disclosure__list-wrapper {
    margin-left: 0 !important;
    padding: 4px 8px !important;
}

.disclosure__link {
    padding: 8px !important;
}

.disclosure__link:hover {
    background: var(--white-1);
    border-radius: var(--border-radius);
}

.disclosure__link--active {
    text-decoration: none !important;
    background: var(--dark-1) !important;
    border-radius: var(--border-radius) !important;
    color: var(--white) !important;
}

/* Footer */

/* Banner */

.banner {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.banner__box {
    width: 100% !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	padding: 16px !important;
	border-radius: 10px 10px 0 0 !important;
	background: rgba(28, 28, 28, 0.14) !important;
	border: none !important;
	backdrop-filter: blur(3px);
	box-shadow: 0 4px 4px #00000040 !important;
}

.banner__box > * {
    width: max-content !important;
}

.banner__content {
    overflow: hidden;
    padding: 0 !important;
}

.banner__heading {
    color: var(--white) !important;
}

.banner__text {
    color: var(--white-1) !important;
}

.banner__buttons {
    margin-bottom: 24px;
}

.banner--content-align-mobile-center .banner__buttons--multiple > * {
	flex-grow: 1;
	min-width: 0px !important;
}

/* Banner */

/* Featured products */

.featured-products {
    margin-top: 16px;
}

.featured-products__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #f8f8f8;
	border-radius: 10px;
}

.featured-products__container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	width: 97vw;
	height: 100%;
	background: #F8F8F8;
	box-shadow: 0 -1px 30px 8px #0003;
	z-index: -1;
	border-radius: 10px;
}

.featured-products__title {
    margin-top: 24px;
}

.featured-products__title-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

.featured-products__wrapper {
    margin-top: 32px;
    margin-bottom: 42px;
	display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 32px;
}

.featured-products__wrapper .swiper-slide {
    width: max-content !important;
}

.featured-products__link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.featured-products__link {
    color: var(--gray) !important;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.featured-products__link:hover {
    text-decoration: underline;
}

/* Featured products */

.background--white {
    background: var(--white);
}

.border--radius {
    border-radius: var(--border-radius);
}

.drop-shadow {
    filter:drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}

.wrapper--sticky {
    position: sticky;
    top: 0;
    z-index: 15;
}

.wrapper-sticky--main {
    z-index: 40;
}

.wrapper--sticky--padding {
    top: 64px !important;
}

#shopify-section-header {
	z-index: 99 !important;
}

.full-width-background {
    position: relative;
}

.full-width-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 97vw;
    height: 100%;
    background: #F8F8F8;
    box-shadow: 0 -1px 30px 8px #0003;
    z-index: -1;
    border-radius: 10px;

}

.slide__image_hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.slide__image:hover .slide__image_hover {
    opacity: 1;
}

.card__content {
	display: flex !important;
	padding: 0 !important;
	width: max-content !important;
	flex-grow: 0 !important;
}

.slide__image_favorite {
    box-sizing: content-box !important;
}

.collection-card:hover .collection-card__image::after {
    backdrop-filter: blur(5px);
}

.collection-card__wrapper {
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.1);
    transition: all .6s;
}

.collection-card__wrapper:hover {
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.2);
}

.collection-card__wrapper {
	max-height: 100%;
	max-width: 100%;
	width: 255px;
	height: 368px;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: center;
	background-color: #f9f9f9;
	border-radius: 10px;
	-webkit-transition: .2s;
	transition: .2s;
	position: relative;
}

.collection-card__image {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: start;
}

.collection-card__image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--border-radius);
    background: rgba(9, 9, 9, 0.4);
    transition: all ease .4s;
}

.collection-card__image img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	-webkit-transition: cubic-bezier(.79,.14,.15,.86) .2s;
	transition: cubic-bezier(.79,.14,.15,.86) .2s;
}

.collection-card__title {
	position: absolute;
	top: 50%;
	left: 50%;
	font-weight: 400;
	font-size: 32px;
	line-height: 49px;
	text-transform: uppercase;
    text-decoration: none;
	color: var(--white);
	display: inline-block;
	width: max-content;
    max-width: 255px;
	margin: 0;
	transform: translate(-50%, -50%);
}

.collection-card__title:hover {
    color: var(--white);
}

.collection-list__container {
    margin-top: 32px;
}

.collection-list {
    padding: 0 !important;
    padding-bottom: 40px !important;
}

.collection-list__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 24px;
    column-gap: 16px;
    justify-items: center;
    align-items: start;
}

.collection-list__item {
    list-style: none !important;
    width: max-content;
}

.collection__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collection-header__image-wrapper {
    position: relative;
}

.collection-header__image {
	position: absolute;
    top: 0;
    right: 0;
	width: max-content;
    max-width: 480px;
	height: 109px;
	border-radius: var(--border-radius);
	overflow: hidden;
    box-shadow: var(--element-drop-shadow);
    transition: all ease .4s;
    z-index: 20;
}

.collection-header__image:hover {
    height: 256px;
}

.collection-header__image img {
	transform: translateY(-20%);
	width: max-content;
    transition: transform ease .4s;
    border-radius: var(--border-radius);
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: auto;
	row-gap: 16px;
	padding: 0;
	column-gap: 20px;
}

.facets-vertical-form {
    padding: 16px;
    background: var(--white);
    box-shadow: var(--section-drop-shadow);
    border-radius: var(--border-radius);
}

.facet-filters__sort {
    width: 186px !important;
    background: var(--white-1) !important;
    box-shadow: var(--element-drop-shadow) !important;
    border-radius: 5px !important;
    padding: 4px 6px !important;
    font-size: 12px !important;
    line-height: 16px !important;
    color: var(--dark) !important;
}

.facet-filters__sort option {
    color: var(--dark);
    background: var(--white-1);
}

.select .icon-caret, .customer select + svg {
	height: 5px !important;
    width: 10px !important;
	right: 11px !important;
    color: var(--pastel-1);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}

.facets-container {
    background: var(--white);
    box-shadow: var(--section-drop-shadow);
    border-radius: var(--border-radius);
    padding: 16px;
}

.facets__heading {
    color: var(--dark);
    font-weight: 400;
    font-size: 24px !important;
    line-height: 33px !important;
    padding-left: 8px;
    margin-bottom: 32px;
}

.facets__disclosure-vertical {
    padding: 8px !important;
    padding-bottom: 24px !important;
    margin-bottom: 16px;
	border-top: none !important;
    border-bottom: solid 0.4px rgba(169, 169, 169, 0.4) !important;
}

.facets__disclosure-vertical:hover {
    border-radius: var(--border-radius);
    background: var(--white);
    box-shadow: var(--element-drop-shadow);
    transition: all ease .3s;
}

.facets__disclosure-vertical:nth-last-child(2) {
    border-bottom: none !important;
}

.facets__summary {
    padding: 0px !important;
}

.facets__summary span {
	color: var(--orange);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    transition: color ease .3s !important;
}

.facets__summary:hover span {
	text-decoration: none !important;
    color: hsl(22, 90%, 50%);
}

.facets__summary:hover .facets__selected {
    color: var(--dark-2) !important;
}

.facets__summary .icon-caret {
	right: 15px !important;
}

.facets__selected {
    font-weight: 400;
    font-size: 12px !important;
    line-height: 16px !important;
    color: var(--gray) !important;
    padding-left: 8px !important;
}

.facets__display-vertical {
    padding: 0 !important;
}

.facet-checkbox > svg,
.mobile-facets__label > svg {
	background: none !important;
}

.facet-checkbox .icon-checkbox,
.mobile-facets__label .icon-checkbox {
    color: var(--white-1);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}

.facet-checkbox .icon-checkmark {
    color: var(--white) !important;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
	left: 9px !important;
	top: 49% !important;
    transform: translate(-50%, -50%);
}

.mobile-facets__label .icon-checkmark {
	color: var(--white) !important;
	filter: drop-shadow(0px 1px 1px rgba(0,0,0,.1));
	left: 34px !important;
	top: 47% !important;
	transform: translate(-50%,-50%);
}

.facet-checkbox > input[type="checkbox"]:checked ~ .icon-checkbox,
.mobile-facets__label > input[type="checkbox"]:checked ~ .icon-checkbox {
	color: var(--pastel-1);
}

.facet__products-count {
	padding: 2px 5px;
	border-radius: 100%;
	background: var(--dark-3);
	color: var(--white);
	font-size: 12px;
	width: 18px;
	height: 18px;
	display: inline-block;
}

.facet__range-slider {
    margin-top: 8px;
}

.facet__range-inputs {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-input {
    border-radius: 5px;
    border: none;
    background: var(--white);
    width: 80px;
    height: 26px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    padding: 0 8px;
    -moz-appearance: textfield;
    transition: all ease .2s;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--dark);
}

.range-input:focus-visible {
	outline: none !important;
	box-shadow: none !important;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1));
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input__divider {
    content: '';
    display: block;
    margin: 0 12px;
    width: 100%;
    height: 1px;
    background: var(--dark-1);
    opacity: 0.5;
    border-radius: 1px;
}

.loading-overlay {
    height: 150vh;
    transition: all ease .3s;
}

.collection .loading-overlay {
    display: none !important;
    opacity: 1 !important;
    background: hsla(0, 0%, 66%, 0.4) !important;
	backdrop-filter: blur(5px);
	z-index: 10 !important;
    height: 200vh;
}


.facets-remove facet-remove {
    max-height: 24px;
    min-width: max-content;
}

.active-facets__button {
    padding: 0 !important;
    margin-right: 8px !important;
    margin-top: 8px !important;
}

.active-facets__button-wrapper {
    margin: 0 !important;
    padding: 0 !important;
}

.active-facets__button-inner {
    background: var(--white);
    border-radius: 12px !important;
    border: none !important;
    box-shadow: var(--element-drop-shadow) !important;
    height: 24px !important;
    padding: 4px 10px !important;
    transition: all ease .2s !important;
}

.active-facets__button-inner:hover,
.active-facets__button-remove span:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
}

.active-facets__button svg {
	margin-left: 8px !important;
	color: var(--red);
}

.active-facets__button-remove {
    text-decoration: none;
}

.active-facets__button-remove span {
    color: var(--dark);
    text-decoration: none;
    padding: 4px 10px !important;
    box-shadow: var(--element-drop-shadow) !important;
    background: var(--white);
    border-radius: 12px !important;
    border: solid 1px hsla(0, 80%, 66%, 0.6);
    transition: all ease .2s !important;
}

.collection-product-grid__container {
    width: max-content !important;
}

.product-grid-container .collection {
    padding-top: 16px;
}

.mobile-facets__inner {
    background: var(--white);
    border-radius: 10px 0 0 10px;
}

.mobile-facets__main {
    border-radius: 10px;
}

.mobile-facets__footer,
.mobile-facets__header {
    background: var(--white-1) !important;
    border: none !important;
}

.mobile-facets__footer {
    border-radius: 10px 0 0 0;
}

.mobile-facets__header {
    border-radius: 0 0 0 10px;
}

.mobile-facets__close-button svg {
    transform: rotate(180deg);
    margin-right: 8px;
}

.mobile-facets__submenu .facet__range-inputs,
.mobile-facets__submenu .facet__range-slider {
    padding: 8px 26px;
}

.mobile-facets__clear {
    color: var(--white);
    text-decoration: none;
}

.mobile-facets__clear:hover {
    color: var(--white) !important;
}

span.active-facets__button-inner {
	font-size: 1.2rem !important;
}

.active-facets__button-remove {
    padding: 0 !important;
}

.active-facets__button-wrapper * {
	font-size: 1.2rem !important;
}

.active-facets-mobile {
    margin: 0 !important;
}

.grid-view__button {
    display: none;
}

.template-search__search {
	margin: 0 auto 1rem !important;
}

.template-search__search .search {
	margin-top: 2rem !important;
	padding: 0 8px !important;
}

.title, .title-wrapper-with-link {
	margin: 1rem 0 3rem !important;
}

.styled-link {
    color: var(--dark-3) !important;
    text-decoration: none;
    padding: 4px 12px;
    transition: all ease .3s;
}

.styled-link:hover {
    background: var(--white-1);
    border-radius: var(--border-radius);
    box-shadow: var(--element-drop-shadow);
}

.cart-items {
    padding: 12px !important;
    background-color: var(--white-1);
    border-radius: var(--border-radius);
    box-shadow: var(--element-drop-shadow) !important;
}

.cart-item__name {
    color: var(--dark-2) !important;
}

.cart-item__name:hover {
	text-decoration: none !important;
    color: var(--dark) !important;
}

.cart-item__image-container {
    border: none !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05) !important;
    transition: all ease .3s !important;
}

.cart-item__image-container:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(-2px);
}

.quantity {
    border-radius: var(--border-radius) !important;
}

.quantity::after {
    background-color: var(--white) !important;
	border-radius: var(--border-radius) !important;
    box-shadow: none !important;
    transition: all ease .3s !important;
}

.quantity:hover::after {
    box-shadow: var(--element-drop-shadow) !important;
}

.quantity__input:focus-visible,
.quantity__button:focus-visible {
	outline: none !important;
	box-shadow: none !important;
}

cart-remove-button {
    border-radius: var(--border-radius);
    transition: all ease .3s;
}

cart-remove-button:hover {
    background: var(--white);
    box-shadow: var(--element-drop-shadow);
}

@media screen and (min-width: 1100px) {
    .grid-view__button {
        display: inline-block !important;
        background: none;
        border: none;
        padding: 0;
        margin-left: 8px !important;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
        transition: all ease .3s;
    }

    .grid-view__button:first-child {
        margin-left: 16px !important;
    }

    .grid-view__button:active {
        filter: none;
    }

    .grid-view__button:hover {
        transform: translateY(-2px);
    }

    .grid-list {
        grid-template-columns: repeat(2, 1fr) !important;
        justify-items: flex-start;
    }

    .product-grid.grid-list .slide__inner {
        min-width: 37vw;
        height: 100%;
        flex-direction: row;
        width: 100%;
    }

    .product-grid.grid-list .slide__image {
        border-radius: 10px 0 0 10px !important;
    }

    .product-grid.grid-list .slide__content_block {
        height: 100%;
        margin: 0;
        padding: 12px;
    }

    .product-grid.grid-list .title__name {
        font-size: 20px;
    }

    .product-grid.grid-list .card__rating_reviews {
        font-size: 14px;
    }
}

@media screen and (max-width: 1750px) {
    .product-grid {
        grid-template-columns: repeat(4,1fr);
    }

    .product-grid.grid-list .slide__inner {
        min-width: 34vw;
    }
}

@media screen and (max-width: 1700px) {
    .grid-list {
        grid-template-columns: 1fr !important;
    }

    .product-grid.grid-list .slide__inner {
        min-width: 60vw;
    }
}


@media screen and (max-width: 1450px) {
    .product-grid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 1160px) {
    .product-grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 890px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 550px) and (max-width: 750px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* extra large */

@media screen and (min-width: 1200px) {

    .product-gallery__block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .gallery-image__wrapper {
        margin: 8px;
        height: min-content;
    }
}

@media screen and (max-width: 1200px) {
    .featured-products__wrapper,
    .collection-list__grid,
    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-grid {
        column-gap: 16px;
    }
}

/* large */

@media screen and (min-width: 992px) {

    .tab-slide {
        width: max-content !important;
    }
}

@media screen and (max-width: 992px) {

    .featured-products__wrapper,
    .collection-list__grid,
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-reviews {
        margin-top: 24px;
    }
}

/* tablet */
@media screen and (max-width: 768px) {

    .active-facets__button-wrapper {
        margin-top: 8px !important;
    }

    .collection-product-grid__container {
        width: 100% !important;
    }

    .featured-products__wrapper,
    .collection-list__grid,
    .footer-grid {
        grid-template-columns: 1fr;
    }

    .banner__box {
        border-radius: var(--border-radius) !important;
    }

    .footer__content-bottom::before {
        width: 100vw;
    }

    .wrapper--sticky-md-margin {
        margin-top: 24px;
    }

    .js-image-zoom__zoomed-image {
        display: none !important;
    }

    .js-image-zoom__zoomed-area {
        display: none !important;
    }

    .breadcrumbs__arrow {
        margin: 0 4px;
    }
}

/* phone */
@media screen and (max-width: 576px) {

    .title--primary {
        padding-left: 16px;
    }

    .banner__content {
        padding: 16px !important;
    }

    .footer-block--contacts {
        min-width: min-content;
    }

    .footer__phone-number-list li:last-child {
        padding-top: 8px;
    }

    .product__header,
    .collection__header {
        padding: 16px 16px;
    }

    .breadcrumbs__arrow {
        margin: 0;
    }

    .product-link {
        display: none;
    }

    .padding-x-sm {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .header-homemaid,
    .footer__content-top
     {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}